@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  /* This re-routes Tailwind's default font-sans class instantly */
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui;
}

/* Force dark mode colors when the .dark class is present */
@variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-gray-900 antialiased transition-colors duration-300;
}

.dark body {
  @apply bg-[#0a0a0a] text-gray-300;
}

/* Minimalist Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-white/10 rounded-full;
}

/* Mask Fade Effect for scrollable containers */
.mask-fade {
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}